@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html, body {
  background: rgb(246,246,246);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#gatsby-focus-wrapper {
  height: 100%;
  width: 100%;
}

#___gatsby {
  height: 100%;
  width: 100%;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-grow: 1;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease-in-out;
  display: block;
  padding: 10px 20px;
}
a:hover {
  outline-width: 0;
  color: rgb(73, 4, 143);
  background-color: rgb(238, 232, 243);
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 1.45rem;
  font-family:inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

fieldset {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0em;
  padding-inline-start: 0em;
  padding-inline-end: 0em;
  padding-block-end: 0em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}



.header-wrapper{
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  height: 80px;
  z-index: 200;
  background-color: #f6f6f6;
  padding: 10px;
  opacity: 98%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dde1e7;
  align-items: center;
}

.header-list{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  margin-bottom: 0px;
  opacity: 98%;
  font-weight: 900;
}

.header-list li{
  margin-right: 35px;
}

.icon {
  position: absolute;
  left: 0px;
  top: -13px;
  z-index: 500;
  width: 160px;
  animation: grow .7s cubic-bezier(.23,1,.32,1);
}

@keyframes grow {
  0% {
    opacity: .85;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
}
100% {
  opacity: 1;
}
}

.icon a {
  padding: 0px;
}

.icon a:hover{
  background-color: transparent;
}


.footer-wrapper {
  display: flex;
  flex-shrink: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dde1e7;
}

.footer-box {
  display: flex;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  max-width:1280px;
}

.footer-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-width: 1px;
  border-color: #dde1e7;
  text-align: left;
  padding-left: 40px;
  padding-top: 2%;
  height: auto;
  font-size: var(--text-lg);
}

.footer-child a {
  font-size: var(--text-md)
}

.footer-child p {
  margin-left: 10px;
  width: 80%;
  font-size: var(--text-md)
}

.footer-child:first-child {
  border-style: none solid none none;
  width: 25%;
  padding-right: 40px;
}

.footer-child:last-child {
  justify-content: center;
  align-items: center;
  border-style: none none none solid;
}

.footer-notes {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #dde1e7;
  background-color: rgb(40, 13, 66);
  color: #fff;
}

.footer-notes-template {
  position: static;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.footer-notes-template span {
  color: #daa520;
}

.copyright-text {
  display: inline-block;
  flex: 0 0 auto;
  color: #f7f9fd;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.social-block {
  display: flex;
  padding-top: 0px;
  margin-bottom: 3%;
  float: none;
  flex-direction: row;
  align-content: space-between;
  min-height: min-content;
}

.social-block a {
  display: flex;
  height: 100%;
  margin-right: -1px;
  padding-top: 0px;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: #8e98ad;
  opacity: 0.46;
  align-content: space-between;
  transition: all 0.4s;
  max-height: min-content;
}

.social-block a:hover {
  opacity: 1;
  border-color: rgb(73, 4, 143);
}

.social-icon {
  display: flex;
  height: 40px;
  margin-right: -1px;
  padding-top: 10px;
  float: none;
  align-self: center;
  opacity: inherit;
  flex-direction: row;
  font-size: 26px;
  transition: opacity 0.4s;
}

.social-icon:hover {
  opacity: 1;
}

.projects-hero {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  margin: 0 0 2% 0;
  height: 380px;
  background-position: 0% 25%;
  z-index: 100;
}

.projects-hero h1{
  color:rgb(246,246,246);
  font-size: var(--text-5xl);
  text-align: center;
}

.projects-hero-title{
  display:flex;
  flex-direction: row;
  align-items: center;
  z-index: 200;
}

.story-hero {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 0 2% 0;
  height: 380px;
  background-position: 50% 70%;
  z-index: 100;
}

.story-hero h1{
  font-size: var(--text-5xl);
  text-align: center;
}

.story-hero-title{
  display:flex;
  flex-direction: row;
  align-items: center;
  z-index: 200;
}

.title-line {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #c39662;
}

.story-wrapper {
  display: flex;
  padding-top: 0px;
  padding-bottom: 40px;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border-style: solid;
  border-width: 1px;
  border-color: #dde1e7;
  border-radius: 8px;
  background-color: white;
  color: #777777;
}

.story-wrapper h2 {
margin-left: auto;
margin-right: auto;
animation: grow .7s ease;
}

.story-wrapper p {
  animation: slide-fade-in 1.5s ease;
}

.story-date {
  animation: slide-fade-in .5s ease;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  color: #777777;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,20px,0);
    -moz-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
  }
  100% {
    opacity: 1;
  }
}

.story-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.story-child-text{
display:flex;
flex:1;
flex-direction: column;
padding: 0 2rem;
color:rgb(51, 51, 51);
}

.story-child-text p:empty{
  display: none;
}

.story-child-text p{
  display: inline-block;
}

.story-child-text p a{
  text-decoration:none;
  display:inline-block;
  padding: 0;
  color: rgb(73, 4, 143);
}

.story-child-img {
  display: flex;
  justify-content:center;
  align-items: center;

}

.split-hero-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  box-shadow: 1px 30px 45px rgb(238 232 243);
}

.split-hero-box {
  width: 33.33%;
  flex: 0 0 auto;
  transition: all 300ms ease;
}

.split-hero-box:hover {
  width: 40%;
}

.split-child {
  display: flex;
  height: 600px;
  width: auto;
  background: white;
}

.split-child-content{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color:rgb(238, 232, 243);
  margin: 10px;
}

.split-child-content a:hover{
  background-color: transparent;
  color: rgb(238, 232, 243);
}

.split-child-icon {
  font-size: 55px;
  transition: all 300ms ease;
  border-radius: 50%;
}

.split-child-icon:hover{
  transform: scale(1.2);
  color: rgb(73, 4, 143);
  background-color: rgb(238, 232, 243);
}

.slider-wrapper {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  max-width: 1280px;
}

.slider-wrapper button::before {
  border-radius: 50%;
  color: var(--purple-70);
  font-size: xx-large;
}

.slider {
  max-width: 90%;
  padding: 40px 40px;
}

.slider .slick-dots {
  position: static;
  margin-top: 20px;
}

.slider-child {
  width: inherit;
  display: flex;
  justify-content: center;
  
}

.slider-child a {
  padding: none;
  display: flex;
  margin: 1.3rem;
  padding: 15px 15px;
  justify-content: space-around;
  transition: transform 200ms, 
  cubic-bezier(0.345, 0.115, 0.135, 1.42),
  opacity 150ms ease-out,
  background-color 200ms ease-out;
  border-radius: var(--radius-sm);
}

.slider-child a:hover {
  transform: var(--transform);
  box-shadow: var(--shadow);
}

.slider-child img {
  object-fit: contain;
  max-height: 300px;
}

.posts-wrapper{
  background-color: transparent;
}

.posts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin: 2rem 20% 2rem 20%;
  display: block;
  border-radius: 8px;
  max-width: 880px;
}

.post-date {
  display:flex;
  align-items: center;
  background-color: rgb(238, 232, 243);
  z-index: 150;
  height: 50px;
  margin: .5rem;
  padding: 9px;
}

.post a {
  background: inherit;
  display: grid;
  grid-template-columns: .7fr 1fr;
  padding: 0px;
  transition: transform 300ms, 
  cubic-bezier(0.345, 0.115, 0.135, 1.42),
  opacity 300ms ease-in-out,
  background-color 300ms ease-in-out;
  border-radius: var(--radius-sm);
}

.post a:hover {
  color: rgb(73, 4, 143);
  background-color: rgb(238, 232, 243);
  transform: var(--transform);
  box-shadow: var(--shadow);
}



.post-picture {
  display: inline-flex;
  z-index: 100;
  min-height: 180px;
}

.post-preview {
  display: block;
  padding: 1rem;
  background-color: rgb(238, 232, 243);
}

.post h3 {
  margin-bottom: 0;
}

.post p {
  color: #777777;
  font-size: 0.8rem;
  font-style: italic;
}

.arrow {
  background-color: transparent;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrow:after {
  display: inline-block;
  padding-left: 8px;
  font-size: 18px;
  content: "\0279E";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.post-preview:hover > .arrow:after {
     -webkit-transform: translateX(30px);
     -moz-transform: translateX(30px);
     -ms-transform: translateX(30px);
     -o-transform: translateX(30px);
     transform: translateX(30px);
 }


.store-wrapper {
  display: flex;
  padding-top: 2vw;
  padding-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(238, 232, 243);
}

.store-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.store-child {
  margin-right: 0;
}

.store-child a {
  display: flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
  border-radius: 2%;
  transition: transform 200ms 
  cubic-bezier(0.345, 0.115, 0.135, 1.42),
  opacity 150ms ease-out,
  background-color 200ms ease-out;
}

.store-child a:hover {
  transform: scale(1.04);
  box-shadow: 0 0 1vw 0 #c0c0c0;
  background: rgb(246,246,246);
}

.store-child p{
  margin-bottom: 0px;
}

.store-child img {
  border-radius: 2%;
}

.product-wrapper {
  display: flex;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 3%;
  padding-right: 3%;
  justify-content: center;
}

.product-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.product-child-img img {
  border-radius: 2%;
}

.product-child-text {
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
}

.overlayGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, 
  rgba(0, 0, 0, 0) 0%, 
  rgba(0, 0, 0, 0.69) 100%);
}

.img-overlay{
  z-index: 1;
  display: flex;
  flex:1;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.63));
  justify-content: center;
  align-items:center;
}

ul {
  margin-top: 0px;
  padding-left: 0px;
}

li {
  margin-right: 3rem;
}

ul li {
  list-style-type: none;
}

.dropdown-btn {
  display: none;
}

.placeholder{
  display:none;
}

.stretch {
  width: auto;
}
.not-found-wrapper {
  background-image: url("../images/Bubble-10s-1084px.gif");
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.not-found-overlay {
  position: absolute;
  transition: 1s ease;
  width: 0;
  height: 100%;
  right: 100%;
  background: rgb(218,165,32);
  background: radial-gradient(circle, rgba(218,165,32,1) 17%, rgba(155,117,219,1) 44%);
  z-index: 180;
}

.overlay-active {
  transition: 1s ease;
  width: 100%;
  right: 0;
  animation: fadeIn .9s linear;
}
.not-found-wrapper:before, .not-found-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;    
}

.not-found-wrapper::before {
  top: 0;
  background-image: linear-gradient(to bottom, rgba(246, 246, 246,1), rgba(246, 246, 246,0));
}

.not-found-wrapper::after {
  bottom: 0;
  background-image: linear-gradient(to top, rgba(246, 246, 246,1), rgba(246, 246, 246,0));
}

.not-found-text {
  position: absolute;
  font-weight: 800;
  z-index: 100;
  margin:.5rem;
}

.four-oh-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top:8%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.heading {
  color: var(--purple-70);
  font-size: 5rem;
  margin: 0px;
  
}

.blurb {
  color: var(--purple-70);
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.button {
  top: 94%;
  left: 50%;
  transform: translate(-50%, -94%);
  z-index: 200;
  display: flex;
  flex-direction: row;
  color: var(--text-color-inverted);
  background-color: var(--purple-70);
  padding: var(--space-sm) var(--space-xl);
  border: none;
  border-radius: var(--radius-md);
  font-family: inherit;
  font-size: var(--text-md);
  align-items: center;
  height: var(--size-input);
  justify-content: center;
  transition: all 1s ease;
  cursor: pointer;
}


.button h3{
  margin: 0px;
}

.not-found-container {
  max-width: 100%;
  height: 100%;
}

.not-found-svg {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}

.not-found-icon {
  width: 25%;
  z-index: 200;
  position:absolute;
  top: 50%;
  left: 50%;
  max-width: 270px;
  transform: translate(-50%, -50%);
  transition: transform 1s ease;
}
.og-position {
  transform-origin: center;
  animation: og 1s linear;
  transition: transform 1s ease;
}

.translate-roll {
  animation: translate-roll 12s infinite linear;
  transform-origin: center;
  transition: transform 1s ease;
}

.roll {
  animation: roll 12s infinite linear;
  transform-origin: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes translate-roll {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      -webkit-transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes og {
  from{
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  }
  to {
      -webkit-transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform:rotate(-360deg);
  }
}

@media screen and (max-width: 1280px) {

  .slider-wrapper {
    margin: 1rem;
  }

}

@media screen and (max-width: 1025px) {

  .overlay-active {
    width: 0;
  }
}

@media screen and (max-width: 991px){
  .split-hero-wrapper{
    flex-direction: column;
  }

  .split-hero-box{
    width:100%;
  }

  .split-hero-box:hover{
    width: 100%;
  }

  .dropdown-btn{
    display: inline-flex;
    font-size: var(--text-xl);
    border-style: none;
    background-color: inherit;
    color: rgb(51, 51, 51);
    z-index: 200;
  }

  .header-wrapper {
    height: 73px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dde1e7;
    z-index: 200;
  }

  .header-list {
  position: absolute;
  display: block;
  left: 0;
  top: calc(-100%);
  z-index: 100;
  font-weight: 900;
  transform: translateY(-98.5%);
  transition: opacity 100ms ease-in, cubic-bezier(0.345, 0.115, 0.135, 1.42) ease, 
  transform 400ms ease 0s;
  pointer-events: none;
  width: 100%;
  background-color:inherit;
  }

  .header-list li {
    margin: 0;
  }

  .header-list li a {
    font-weight: 900;
   text-align: center;
  }

  .drop-menu {
    pointer-events:fill;
    opacity: 1;
    transform: translateY(98.5%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dde1e7;
  }

  .drop-menu a:hover {
    background-color: transparent;

  }

  .rotate {
    transform: rotate(180deg);
    transition: tranform 150ms ease-in;
    color:var(--purple-70);
  }

  .show {
    height: auto;
    display: block;
  }

  .story-hero h1{
    font-size: var(--text-4xl);
  }

  .story-box {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .post {
    margin: 1rem 0 1rem 0;
  }
  
  .posts {
    padding-inline-end: 40px;
  }
    
}

@media screen and (max-width: 765px) {
  
  .footer-box {
    display: inline-block;
  }

  .footer-child {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-bottom-style: solid;
  }

  .footer-child:first-child {
      border-bottom-style: solid;
      border-right-style: none;
      width: inherit;
  }

  .story-hero h1{
    font-size: var(--text-3xl);
  }

}



@media screen and (max-width: 479px) {

  html {
    font-size: 100%;
  }

  .icon {
    left: -35px;
    top: -13px;
    width: 110px;
  }

  .story-hero h1{
    font-size: var(--text-2xl);
  }

  .split-child {
    height:380px;
  }

  .img-overlay {
    justify-content:start;
  }

  .split-child-content {
    width: 100%;
  }

  .slider-wrapper{
    margin: 0 10px;
  }

  .slider-child a {
    padding: 0px;
    margin: 0px;
  }

  .slider-wrapper button::before {
    color:transparent;
  }

  .post a {
    grid-template-columns: 1fr;
  }

  .posts {
    padding-inline-end: 16px;
    padding-inline-start: 16px;
  }

  .story-wrapper {
   margin:16px;
  }

  .story-wrapper h2{
    font-size: x-large;
  }

  .story-wrapper p {
    margin-left: auto;
    margin-right: auto;
  }

  .story-child-text {
    text-align: center;
  }

  .not-found-svg {
    padding: 0 16px;
  }

  .four-oh-four {
    width: fit-content;
  }

  .heading {
    font-size: 60px;
    padding: 0 16px;
  }

  .blurb {
    font-size: 18px;
    padding: 0 16px;
  }

  .button h3 {
    font-size: 16px;
  }

  .overlay-active {
    width: 0;
  }

}
