.productBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--space-3xl);
}

.container {
  padding: var(--size-gutter-raw);
  flex-shrink: 0;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.header {
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin-bottom: var(--space-xl);
  line-height: var(--dense);
}

.productDescription {
  font-size: var(--text-prose);
}

.productImageWrapper {
  padding-bottom: var(--space-2xl);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.productImage {
  max-width: 500px;
  min-width: 350px;
}

.noImagePreview {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  font-size: var(--text-lg);
}

.priceValue > span {
  font-size: var(--text-display);
  font-weight: var(--bold);
  line-height: var(--dense);
  color: var(--primary);
}

.priceValue {
  padding: var(--space-lg) 0;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.optionsWrapper {
  border: none;
  display: grid;
  grid-template-columns: var(--product-grid);
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.addToCartStyle {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--space-lg);
}

.selectVariant {
  background-color: var(--input-background);
  border-radius: var(--radius-md);
  cursor: pointer;
  margin-top: var(--space-md);
  min-width: 20ch;
  position: relative;
}

.selectVariant select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--input-text);
  cursor: inherit;
  font-size: var(--text-md);
  font-weight: var(--medium);
  height: var(--size-input);
  margin: 0;
  padding: var(--space-sm) var(--space-lg);
  padding-right: var(--space-2xl);
  width: 100%;
}

.selectVariant::after {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='8' viewBox='0 0 13 8' width='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.87794 7.56356c-.19939.23023-.55654.23024-.75593 0l-5.400738-6.23623c-.280438-.32383-.050412-.82733.377968-.82733h10.80146c.4284 0 .6584.5035.378.82733z' fill='%2378757a'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  height: 8px;
  position: absolute;
  right: var(--space-lg);
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  pointer-events: none;
}

@media (max-width: 840px) {
  .productBox {
    grid-template-columns: 1fr;
  }
  .addToCartStyle {
    grid-template-columns: min-content max-content;
  }
}

@media (max-width: 480px) {
  
  .container {
    padding: 0;
    margin: 10px 0
  }

  .selectVariant {
    min-width: 17ch;
  }

  .productImage {
    max-width: 320px;
    min-width: none;
  }

  .productImageWrapper {
    justify-content: center;
    align-items: center;
  }

  .productDescriptionWrapper {
    text-align: center;
  }

  .productDescription {
    margin: 0 10px;
  }

  .optionsWrapper{
    margin: 0 10px 10px;
    display: block;
  }

  .priceValue {
    padding: 0px;
  }

  .addToCartStyle {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

}