.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 2rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 2rem 4rem;
  border-style: solid;
  border-width: 1px;
  border-color: #dde1e7;
  border-radius: var(--radius-md);
}

.title {
  color: var(--purple-70)
}

.table {
  width: 100% ;
  border-collapse: collapse; 
}

.table tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dde1e7;
}

.table td:first-child {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
}

.table th {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--text-md);
  font-weight: bold;
  padding-bottom: var(--space-2xl);
 
}

.checkoutButton {
  align-items: center;
  background: var(--text-color-hover);
  border-radius: var(--radius-md);
  border-style: none;
  color: var(--text-color-inverted);
  display: flex;
  font-size: var(--text-md);
  font-weight: var(--semibold);
  height: var(--size-input);
  justify-content: center;
  line-height: var(--solid);
  margin: var(--space-3xl) auto var(--space-md);
  padding: var(--space-sm) var(--space-3xl);
  width: max-content;
  transition: var(--transition);
  cursor: pointer;
}

.checkoutButton:hover {
  box-shadow: var(--shadow);
}

/* Apply only to first of class */

.emptyStateContainer {
  text-align: center;
  max-width: 48ch;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emptyStateHeading {
  color: var(--text-color);
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin-bottom: var(--space-lg);
}

.emptyStateLink {
  display: inline-block;
  color: var(--primary);
  font-weight: var(--bold);
  margin-top: var(--space-xl);
  font-size: var(--text-xl);
}

@media screen and (max-width: 479px) {
  .wrap {
    margin: 16px;
  }

  /* .collapseColumn {
    display: block;
  } */

  /* .table {
    grid-template-columns: 80px 1fr repeat(3, min-content);
  }
}

@media (min-width: 1024px) {
  .table {
    grid-template-columns: max-content 1fr repeat(3, max-content);
  } */
}
