.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 2rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 2rem 4rem;
  border-style: solid;
  border-width: 1px;
  border-color: #dde1e7;
  border-radius: var(--radius-md);
}

.title {
  color: var(--purple-70)
}

.table {
  width: 100% ;
  border-collapse: collapse; 
}

.table tr {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dde1e7;
}

.table td:first-child {
  width: 30%;
  min-width: 25%;
  max-width: 30%;
}

.table th {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--text-md);
  font-weight: bold;
  padding-bottom: var(--space-2xl);
 
}

.checkoutBox {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  margin: var(--space-2xl) 0;
}

.shipping {
  margin: 0 auto;
  color: var(--purple-70);
}

.checkoutButton {
  align-items: center;
  background: var(--text-color-hover);
  border-radius: var(--radius-md);
  border-style: none;
  color: var(--text-color-inverted);
  display: flex;
  font-family: inherit;
  font-size: var(--text-md);
  font-weight: bolder;
  height: var(--size-input);
  justify-content: center;
  line-height: var(--solid);
  margin: 0;
  padding: var(--space-sm) var(--space-3xl);
  width: max-content;
  transition: var(--transition), color 150ms ease-out;
  cursor: pointer;
}

.checkoutButton:hover {
  box-shadow: var(--shadow);
  color: goldenrod;
}

/* Apply only to first of class */

.emptyStateContainer {
  text-align: center;
  max-width: 48ch;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emptyStateHeading {
  color: var(--text-color);
  font-size: var(--text-display);
  font-weight: var(--bold);
  margin-bottom: var(--space-lg);
}

.emptyStateLink {
  display: inline-block;
  color: var(--primary);
  font-weight: var(--bold);
  margin-top: var(--space-xl);
  font-size: var(--text-xl);
}

@media screen and (max-width: 750px)  {
  

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  
  .wrap {
    max-width: none;
    margin: 16px auto;
  }

  /* Hide table headers (for accessibility) */
  .table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .table td { 
    border: none;
    font-size: medium;
  }
  
  .title {
    font-size: large;
  }
  
  .container {
    padding:  var(--space-2xl);
    width: 100%;
  }
  
  .table th {
    text-align:start;
  }
  
  .shipping {
    display: none;
  }

}
@media screen and (max-width: 1200px) {
  
  .wrap {
    max-width: fit-content;
  }
  
  .container {
    padding:  var(--space-xl); 
  }
  
  .checkoutBox {
    justify-content: center;
  }
  .shipping {
    display: none;
  }
}