.addToCart {
    display: flex;
    flex-direction: row;
    color: var(--text-color-inverted);
    background-color: var(--purple-70);
    align-self: flex-end;
    padding: var(--space-sm) var(--space-xl);
    border:none;
    border-radius: var(--radius-md);
    font-weight: var(--bold);
    align-items: center;
    height: var(--size-input);
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
  }
  
  .addToCart:hover {
    box-shadow: var(--shadow);
    transform: var(--transform);
  }

  @media (max-width: 840px) {
    .addToCart{
      min-width: 52ch;
    }
  }
    @media (max-width: 480px) {
      .addToCart{
        min-width: 22ch;
      }
  

  }