html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: black;
  transition: color 0.4s;
  display: block;
  padding: 10px 20px;
}
a:active,
a:hover {
  outline-width: 0;
  color: rgb(73, 4, 143);
  background-color: rgb(242, 238, 245);
}

p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 200;
  justify-content: space-between;
  background-color: white;
  opacity: 98%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dde1e7;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.1rem;
  margin-top: -75px;
  margin-bottom: 0px;
}

.icon {
  display: inline-block;
  margin-left: 1rem;
}

.footer-wrapper {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  margin-top: 20px;
}

.footer-box {
  display: flex;
  height: 400px;
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dde1e7;
}

.footer-child {
  flex: 1;
  border-width: 1px;
  border-color: #dde1e7;
  text-align: left;
  padding-left: 40px;
  padding-top: 60px;
}

.footer-child p {
  max-width: 43%;
  margin-left: 10px;
}

.footer-child:first-child {
  border-style: none solid none none;
}

.footer-child:last-child {
  border-style: none none none solid;
}

.footer-notes {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #dde1e7;
  background-color: rgb(40, 13, 66);
  color: #fff;
}

.footer-notes-template {
  position: static;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.copyright-text {
  display: inline-block;
  flex: 0 0 auto;
  color: #f7f9fd;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.social-block {
  display: flex;
  height: 40px;
  margin-right: -1px;
  padding-top: 0px;
  float: none;
  align-self: center;
  flex-direction: row;
  align-content: space-between;
}
.social-block a {
  display: flex;
  height: 40px;
  margin-right: -1px;
  padding-top: 0px;
  float: none;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: #8e98ad;
  opacity: 0.46;
  flex-direction: row;
  align-content: space-between;
  transition: opacity 0.4s;
}

.social-block a:hover {
  opacity: 1;
}

.social-icon {
  display: flex;
  height: 40px;
  margin-right: -1px;
  padding-top: 10px;
  float: none;
  align-self: center;
  opacity: inherit;
  flex-direction: row;
  font-size: 26px;
  transition: opacity 0.4s;
}

.social-icon:hover {
  opacity: 1;
}

.hero-title {
  position: relative;
  padding: 1px;
  background: transparent;
  margin-top: -16%;
  margin-bottom: 10%;
}

.hero-title h1 {
  margin-left: 25%;
  margin-right: 25%;
}

.story-wrapper {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  margin-top: 10%;
}

.story-box {
  display: flex;
  height: 500px;
  margin-left: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
}

.story-child {
  flex: 1;
  text-align: left;
  padding-left: 5%;
  padding-top: 4%;
  max-height: 500px;
}

.story-child:first-child {
  margin-right: 5%;
}

.video {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

ul {
  margin-top: 0px;
  padding-left: 0px;
}

li {
  margin-bottom: calc(1.45rem / 2);
  margin-right: 3rem;
}

ul li {
  padding-left: 0;
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
