@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: rgb(246,246,246);
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 300ms;
  display: block;
  padding: 10px 20px;
}
a:hover {
  outline-width: 0;
  color: rgb(73, 4, 143);
  background-color: rgb(238, 232, 243);
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 1.45rem;
  font-family:inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-bottom: 1.45rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}


.header-wrapper{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #f6f6f6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dde1e7;
  align-items: center;
  padding: 1%;
  opacity: 98%;
}

.header-list{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  margin-bottom: 0px;
  opacity: 98%;
}

.header-list li{
  margin-right: 35px;
  font-weight: 600;
}

.icon {
  position:fixed;
  left:0px;
  top:0px;
  margin: 5px;
  z-index: 300;
  min-width:max-content;
}


.footer-wrapper {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
}

.footer-box {
  display: flex;
  height: 20%;
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dde1e7;
}

.footer-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-width: 1px;
  border-color: #dde1e7;
  text-align: left;
  padding-left: 40px;
  padding-top: 2%;
  min-height: min-content;
}

.footer-child p {
 width: 43%;
  margin-left: 10px;
}

.footer-child:first-child {
  border-style: none solid none none;
}

.footer-child:last-child {
  justify-content: center;
  align-items: center;
  border-style: none none none solid;
}

.footer-notes {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #dde1e7;
  background-color: rgb(40, 13, 66);
  color: #fff;
}

.footer-notes-template {
  position: static;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.footer-notes-template span {
  color: goldenrod;
}

.copyright-text {
  display: inline-block;
  flex: 0 0 auto;
  color: #f7f9fd;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.social-block {
  display: flex;
  padding-top: 0px;
  margin-bottom: 3%;
  float: none;
  flex-direction: row;
  align-content: space-between;
  min-height: min-content;
}

.social-block a {
  display: flex;
  height: 100%;
  margin-right: -1px;
  padding-top: 0px;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: #8e98ad;
  opacity: 0.46;
  align-content: space-between;
  transition: all 0.4s;
  max-height: min-content;
}

.social-block a:hover {
  opacity: 1;
  border-color: rgb(73, 4, 143);
}

.social-icon {
  display: flex;
  height: 40px;
  margin-right: -1px;
  padding-top: 10px;
  float: none;
  align-self: center;
  opacity: inherit;
  flex-direction: row;
  font-size: 26px;
  transition: opacity 0.4s;
}

.social-icon:hover {
  opacity: 1;
}

.story-hero{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  height:22.1vw;
  margin: 0 0 2% 0;
}

.story-wrapper {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
}

.story-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.story-child-text{
display:flex;
flex:1;
flex-direction: column;
}

.story-child-text p:empty{
  display: none;
}

.story-child-text p{
  display: inline-block;
}

.story-child-text p a{
  text-decoration:none;
  display:inline-block;
  padding: 0;
  color: rgb(73, 4, 143);
}


.story-child-img {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 3%;
  align-content: center;
}

.split-hero-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  box-shadow: 1px 30px 45px rgb(238 232 243);

}

.split-hero-box {
  width: 33.33%;
  flex: 0 0 auto;
  transition: all 300ms ease;
}

.split-hero-box:hover {
  width: 40%;
}

.split-child {
  display: flex;
  height: 600px;
  width: auto;
  background: white;
}

.split-child-content{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color:rgb(238, 232, 243);
}
.split-child-content a:hover{
  background-color: transparent;
  color: rgb(238, 232, 243);
}

.split-child-icon {
  font-size: 55px;
  transition: all 300ms ease;
  border-radius: 50%;
}

.split-child-icon:hover{
  transform: scale(1.2);
  color: rgb(73, 4, 143);
  background-color: rgb(238, 232, 243);
}

.slider-wrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
  justify-content: center;
}

.slider-wrapper button::before {
  color: rgb(40, 13, 66);
}

.slider {
  max-width: 85%;
}

.slider-child {
  width: inherit;
}

.slider-child img {
  margin: 30px 20px;
  object-fit: contain;
  max-height: 300px;
}

.posts-wrapper{
  box-shadow: 1px -30px 45px rgb(238 232 243);
  border-top: 1px solid #dde1e7;
  background-color: transparent;
}

.posts-wrapper h1 {
  margin-left: 1.7%
}

.posts {
  list-style-type: none;
  display:flex;
  flex-direction: column;
}

.post {
  margin: 1rem 20% 1rem 20%;
}

.post a {
  background: inherit;
  display: block;
  padding: 1rem;
  transition: color 300ms;
}

.post a:hover {
  outline-width: 0;
  color: rgb(73, 4, 143);
  background-color: rgb(238, 232, 243);
}

.post h2 {
  margin-bottom: 0;
}

.post p {
  color: #777777;
  font-size: 0.8rem;
  font-style: italic;
}

.store-wrapper {
  display: flex;
  padding-top: 2vw;
  padding-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(238, 232, 243);
}

.store-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.store-child {
  margin-right: 0;
}

.store-child a {
  display: flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
  border-radius: 2%;
  transition: transform 200ms 
  cubic-bezier(0.345, 0.115, 0.135, 1.42),
  opacity 150ms ease-out,
  background-color 200ms ease-out;
}

.store-child a:hover {
  transform: scale(1.04);
  box-shadow: 0 0 1vw 0 #c0c0c0;
  background: rgb(246,246,246);
}

.store-child p{
  margin-bottom: 0px;
}

.store-child img {
  border-radius: 2%;
}

.product-wrapper {
  display: flex;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 10%;
  padding-right: 10%;
}

.product-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.img-overlay{
    z-index: 1;
    display: flex;
    flex:1;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.63));
    justify-content: center;
    align-items:center;
}

ul {
  margin-top: 0px;
  padding-left: 0px;
}

li {
  margin-right: 3rem;
}

ul li {
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
