.wrapper {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.picture {
  margin: 0;
  min-width: 120px;
}

.title {
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
  line-height: var(--solid);
  padding-bottom: var(--space-md);
  display: inline-flex;
}

.variant {
  font-size: var(--text-md);
  text-transform: capitalize;
  padding-bottom: var(--space-sm);
}

.remove button {
  font-size: var(--text-lg);
  height: var(--size-input);
  width: 6ch;
  display: inline-flex;
 justify-content: center;
 align-items: center;
 border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  border-radius: var(--radius-md);
  background-color: transparent;
  cursor: pointer;
}

.remove button:hover > svg {
  animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

.mobile {
  display: none;
}

.price {
  text-align: center;
  font-size: 1.3rem;
}


@keyframes shake {
	10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 750px)  {

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.variant {
  font-size: small;
}

.variant h3{
  display: none;
}

.mobile {
  display: flex;
  flex-direction: column-reverse;
}

.remove button {
  width: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.price {
  font-size: small;
}

}