.listingContainerWrapper {
  display: flex;
  justify-content: center;
  padding-top: var(--size-input);
  padding-bottom: var(--size-input);
  background-color: var(--background);
}

.listingContainerStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: var(--size-gutter-raw);
  padding: 0 var(--size-gutter-raw);
}

@media screen and (max-width: 435px){

  .listingContainerStyle{
    grid-template-columns: 1fr;
  }

}