.productCardStyle {
  max-width: 600px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: var(--space-md);
  transition: transform 200ms 
  cubic-bezier(0.345, 0.115, 0.135, 1.42),
  opacity 150ms ease-out,
  background-color 200ms ease-out;
  border-radius: var(--radius-sm);
}

.productCardStyle:hover {
  transform: var(--transform);
  box-shadow: var(--shadow);
  background-color: var(--grey-250);
}

.productImageStyle {
  margin-bottom: var(--space-md);
}

.productDetailsStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
}

.productVendorStyle {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
}

.productHeadingStyle {
  width: 100%;
  font-size: var(--text-lg);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
}

.productPrice {
  color: var(--text-color-secondary);
}

@media screen and (max-width: 435px) {

  .productHeadingStyle{
    font-size: var(--text-sm);
  }

}