.projectLink {
  margin: 0;
  padding:0;
}

.projectCardStyle:hover .projectTitleStyle:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projectCardStyle:hover .projectText {
  transition: color 300ms ease-in-out;
  color: rgb(238, 232, 243);
}

.postDate {
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  background-color: rgb(238, 232, 243);
  z-index: 150;
  height: 50px;
  margin: 30px;
  padding: 9px;
  max-width: fit-content;
  color: rgb(53, 46, 60);
}

.projectCardStyle {
  min-height: 376px;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.projectText {
  z-index: 200;
  color:#FFFFFF;
  transition: color 300ms ease-in-out;
}

.projectTitleStyle {
  width: fit-content;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--dense);
  margin: 20px 0;
}

.projectTitleStyle:after {
  content: '';
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: #c39662;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.projectDescriptionStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--semibold);
  font-size: small;
  margin: 0;
}



@media screen and (max-width: 435px) {

  .productHeadingStyle{
    font-size: var(--text-lg);
  }
  
}